* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

:root {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;

}


header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
}

header nav {
  padding-right: 4rem;
}
header nav ul {
  display: flex;
  gap: 4rem;
  justify-content: space-around;
  list-style: none;
  font-size: 1.6rem;
  align-items: center;
}

.logo {
  padding-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  width: fit-content;
  height: 4rem;

}

body {
  margin: 7.5rem 4rem 1rem;
  background: #eee;
}

section {
  margin: 8rem auto;
}

#hero {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  padding-top: 6rem;
}

#hero > div {
  display: flex;
  flex-direction: column;
}

#hero > div h1 {
  font-size: 4.4rem;
  line-height: 4.6rem;
}

#hero > div p {
  font-size: 2rem;
  padding: 2rem 0;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
}

#form input, button {
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}

#buttons {
  display: flex;
  gap: 2rem;
  width: 100%;
}

#buttons input, button {
  border-radius: 9999px;
  width: fit-content;
  background: #F1C40F;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

#buttons input {
  border: 1px solid #000000;
  background: transparent;
}

#qualities {
  height: 11.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#qualities h2 {
  padding-top: 5rem;
}

#qualities div {
  margin-bottom: 2rem;
}

section h2 {
  font-size: 2.6rem;
  margin: 2rem auto;
  text-align: center;
}

.quality-wrapper {
  display: flex;
  font-size: 1.6rem;
  gap: 6rem;
  justify-content: space-between;
  align-items: center;
}

.quality-wrapper div {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.quality-wrapper h3 {
  font-size: 2.2rem;
}

.quality-wrapper i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  text-align: center;
}
.quality-wrapper i svg {
  
  display: block;
  width: auto;
  height: 4.8rem;
  fill: darkorange;
  margin: auto;
}

#models {
  padding-top: 5rem;
}

#models div {
  display: flex;
  gap: 2rem;
}

.models-wrapper {
  border: 1px solid #000000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 28vw;
}

.models-wrapper h3 {
  font-size: 1.6rem;
  border-radius: 1rem 1rem 0 0;
  text-transform: uppercase;
  padding: 1.5rem 0;
  width: 100%;
  text-align: center;
  background-color: #DDD;
}

.models-wrapper .price {
  padding: 1rem 0;

  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
}

.models-wrapper ol {
  font-size: 1.6rem;
  text-align: center;
  list-style: none;

}

.models-wrapper li {
  line-height: 2.2rem;

}

.models-wrapper button {
  font-size: 1.6rem;
  margin: 2rem auto;
}
